
# Batch engine defaults
PDI_ISO3=TCD
PDI_YEAR=2026

# Database
POSTGRES_DB=pdi
POSTGRES_USER=pdi
POSTGRES_PASSWORD=pdi
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Database -
DATABASE_URL=postgresql://pdi:pdi@localhost:5432/pdi
